In [1]:
import requests as r
import pandas as pd
import numpy as np

In [5]:
# https://docs.flashbots.net/

In [6]:
%time

blocks_df = pd.DataFrame(columns=['block_number', 'miner_reward', 'miner', 'coinbase_transfers', 'gas_used', 'gas_price', 'is_megabundle'])
transactions_df = pd.DataFrame(columns=['transaction_hash', 'tx_index', 'bundle_type', 'bundle_index', 'block_number', 'eoa_address', 'to_address', 'gas_used', 'gas_price', 'coinbase_transfer', 'total_miner_reward'])

blocks = r.get('https://blocks.flashbots.net/v1/blocks?limit=10000').json()

for block in blocks['blocks']:
    transactions = block['transactions']
    del block['transactions']
    blocks_df = blocks_df.append(block, ignore_index=True)
    
    for transaction in transactions:
        transactions_df = transactions_df.append(transaction, ignore_index=True)

CPU times: user 2 µs, sys: 0 ns, total: 2 µs
Wall time: 5.01 µs

In [7]:
blocks_df

,block_number,miner_reward,miner,coinbase_transfers,gas_used,gas_price,is_megabundle
0,13775083,125045451439363164,0xEA674fdDe714fd979de3EdF0F56AA9716B898ec8,61786663982135467,1697891,73647514145,False
1,13775085,60167343345268217,0xEA674fdDe714fd979de3EdF0F56AA9716B898ec8,0,880215,68355280636,False
2,13775086,37221411604739120,0x3EcEf08D0e2DaD803847E052249bb4F8bFf2D5bB,0,523234,71137218920,False
3,13775087,26322208719570153,0xEA674fdDe714fd979de3EdF0F56AA9716B898ec8,0,235530,111757350314,False
4,13775088,59057993680131144,0xEA674fdDe714fd979de3EdF0F56AA9716B898ec8,0,952410,62009002089,False
...,...,...,...,...,...,...,...
9995,13794462,30595615428158201,0x1aD91ee08f21bE3dE0BA2ba6918E714dA6B45836,19802610031914612,736264,41555223979,False
9996,13794466,79215822185192457,0xEA674fdDe714fd979de3EdF0F56AA9716B898ec8,53175721058022381,980566,80785813688,False
9997,13794468,24034450843386046,0x4069e799Da927C06b430e247b2ee16C03e8B837d,11574183358211303,908374,26458761306,False
9998,13794473,6793747159712248,0x433022C4066558E7a32D850F02d2da5cA782174D,0,213966,31751526689,False
9999,13794474,242303357266272044,0x829BD824B016326A401d083B33D092293333A830,60342123614463686,899688,269319316547,False

In [12]:
blocks_df.tail()

,block_number,miner_reward,miner,coinbase_transfers,gas_used,gas_price,is_megabundle
9995,13794462,30595615428158201,0x1aD91ee08f21bE3dE0BA2ba6918E714dA6B45836,19802610031914612,736264,41555223979,False
9996,13794466,79215822185192457,0xEA674fdDe714fd979de3EdF0F56AA9716B898ec8,53175721058022381,980566,80785813688,False
9997,13794468,24034450843386046,0x4069e799Da927C06b430e247b2ee16C03e8B837d,11574183358211303,908374,26458761306,False
9998,13794473,6793747159712248,0x433022C4066558E7a32D850F02d2da5cA782174D,0,213966,31751526689,False
9999,13794474,242303357266272044,0x829BD824B016326A401d083B33D092293333A830,60342123614463686,899688,269319316547,False

In [8]:
transactions_df

,transaction_hash,tx_index,bundle_type,bundle_index,block_number,eoa_address,to_address,gas_used,gas_price,coinbase_transfer,total_miner_reward
0,0xfcc1a4f60d9d9126c26b3e94bbb1dc7c0327496b3467...,0,rogue,0,13775083,0xEA674fdDe714fd979de3EdF0F56AA9716B898ec8,0x04d0E423323Cc245677b84703622fd35e595DC0D,21000,0,0,0
1,0x3fd3c6887905e0ff8abacf887ab7c37ad7b1e73e2261...,1,rogue,0,13775083,0xEA674fdDe714fd979de3EdF0F56AA9716B898ec8,0x8b604402E74aD01F6DE8c82D1fc479868Cd14a4E,21000,0,0,0
2,0xbdfbb5b7486c49ffe7ae421e149a0f840a5b9cacacd4...,0,flashbots,1,13775083,0x043f8524F87EFb25990b65Ff4918f9128aCF742E,0xE592427A0AEce92De3Edee1F18E0157C05861564,214615,1500000000,0,321922500000000
3,0x6fdacd70727136283e4efa827a552d86b4406dfdcf7e...,1,flashbots,1,13775083,0x8d6E15cB3442Ff24F2b8538C203B829F3D879705,0xa57Bd00134B2850B2a1c55860c9e9ea100fDd6CF,235816,262012178911,61786663982135467,61786663982135467
4,0x1264f1ad61ceefd828c46acb3482f0c1961f929b8d96...,0,flashbots,2,13775083,0xe9a9bC8A5f88ede4FE77cE2F8f557Da78791ee3e,0xE592427A0AEce92De3Edee1F18E0157C05861564,153690,1500000000,0,230535000000000
...,...,...,...,...,...,...,...,...,...,...,...
50943,0x1c6506b5b01eeee7177a66d6f5013c6689358b3dc364...,0,flashbots,1,13794473,0xBCBC1222B246E7475545c784744D3403cC9b8179,0x320c1ca2BdDA1375174a98bFd06ED7C2D60e9842,48452,1500000000,0,72678000000000
50944,0x5c98590c3489863d2eaf4e85777dee7931a7c7f40e94...,0,flashbots,0,13794474,0x614800dC2C7372F2595E66Ca62CC2FA485f00c20,0xa57Bd00134B2850B2a1c55860c9e9ea100fDd6CF,122202,493789983915,60342123614463686,60342123614463686
50945,0xdfc58de2094311b2ec895f32e0e5ad574fb04ca3a787...,0,flashbots,1,13794474,0x26cE7c1976C5eec83eA6Ac22D83cB341B08850aF,0x00000000003b3cc22aF3aE1EAc0440BcEe416B40,91514,0,0,0
50946,0x7c45c0cf0d7b411a749ff8f847e28e87749ebfd1e1f3...,1,flashbots,1,13794474,0x0a51351684e75c3e23e51d7433ED5A10b5Db42c4,0x1111111254fb6c44bAC0beD2854e76F90643097d,604405,20713262010,0,12519199125154050
50947,0xb59a6f5b5d6c92a449893a402a0efe550b2648be082b...,2,flashbots,1,13794474,0x26cE7c1976C5eec83eA6Ac22D83cB341B08850aF,0x00000000003b3cc22aF3aE1EAc0440BcEe416B40,81567,2077335620124,0,169442034526654308

In [9]:
blocks_df.to_csv('../../data/mev_api/blocks.csv', index=False)

In [10]:
transactions_df.to_csv('../../data/mev_api/transactions.csv', index=False)